:root {
  --color-text-primary: 108 108 108;
  --color-text-secondary: 194 194 194;
  --color-primary: 152 193 64;
  --color-secondary: 141 176 69;
  --color-bg: 247 247 247;
  --color-surface-primary: 108 108 108;
}