:root {
  --color-text-primary: 194 194 194;
  --color-text-secondary: 108 108 108;
  --color-primary: 192 231 110;
  --color-secondary: 152 193 64;
  --color-bg: 53 53 53;
  --color-surface-primary: 108 108 108;
}